.deps/
.libs/
.*.swp
Makefile
Makefile.in
aclocal.m4
configure
config.*
gtk-doc.make
INSTALL
libtool
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
*~
*.cache
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
build-aux
*dbus*gen*
src/daemon/gsignond
test/common/commontest
test/daemon/daemontest
test/db/dbtest
test/plugins/passwordplugintest
test/plugins/digestplugintest
test/plugins/pluginremotetest
test/plugins/pluginproxytest
stamp-h1
*service
src/common/gsignond-plugin-enum-types.c
src/common/gsignond-plugin-enum-types.h
src/daemon/gsignond-identity-enum-types.c
src/daemon/gsignond-identity-enum-types.h
src/gplugind/gsignond-plugind
test/daemon/gsignond-dbus.conf
docs/gsignond-decl-list.txt
docs/gsignond-decl.txt
docs/gsignond-overrides.txt
docs/gsignond-sections.txt
docs/gsignond-undeclared.txt
docs/gsignond-undocumented.txt
docs/gsignond-unused.txt
docs/gsignond.args
docs/gsignond.hierarchy
docs/gsignond.interfaces
docs/gsignond.prerequisites
docs/gsignond.signals
docs/gsignond.types
docs/html/
docs/xml/
gsignond.conf
